

.box-header{
  text-align: center;
}

.c-container{
  position: relative;
  width: 100%;
}

.form-container{
  margin: 0 auto;
  text-align: center;
  form{
    margin: 0 auto;
    max-width: 330px;
    input[type=text]{
      width: 100% !important;
      padding: 5px;
      margin-bottom: 5px;
    }
    input[type=submit]{
      width: 105% !important;
      padding: 5px;
      margin-bottom: 5px;
      background-color: #60b044;
      color: white;
    }
    input[type=submit]:hover {
      cursor: pointer;
      background-color: #428bca;
    }
  }
}
